
 
 
    
<div class="bootstrap-wrapper">

    <div class="container mt">

       

        <div class="row">

          <!--  -->

            
                 
          <!--  -->
            <div class="col-md-6 offset-md-3">


                <div class="container text-center">
                  <img class="img-fluid" style="width: 100px;" src="/assets/password.png.png" alt="">
                </div>

                <h1 class="text-center">Forgot Password </h1>
             
                <!--  -->

                <form [formGroup]="forgotPasswordForm" (ngSubmit)="submitForm()">
                    <!-- <div>


                      <label ><h1>Email:</h1> </label>

                      <input type="email" id="email" formControlName="email" class="form-control" >
                      -->
           
                      <mat-form-field class="full-width" appearance="outline">

                        <mat-label class="bi bi-envelope ">Email Id</mat-label>
                        <input type="email" formControlName="email" required="email"  matInput>
                      </mat-form-field>
                      <small class="error-message"> 
                        <div *ngIf="forgotPasswordForm.get('email')?.hasError('required')&& forgotPasswordForm.touched &&forgotPasswordForm.dirty">
                          Email is required.
                        </div>
                        <div *ngIf="forgotPasswordForm.get('email')?.hasError('invalidEmail')&&forgotPasswordForm.dirty">
                          Invalid email address.
                        </div>
                      </small>

            

                <div class="container text-center"> 
                <button  (click)="message()" class="white mt-3" type="submit" mat-raised-button color="accent" routerLink="#" [disabled]="!forgotPasswordForm.valid">Submit</button>  
                <button  class="bi bi-person  mt-3 " type="submit" mat-raised-button color="primary" routerLink="/login" style="margin-left: 10px;">Login</button>  
              </div>
                </form>

              
              <!-- </div> -->
                          
                
 
            <br> 

 
 
 