
 
.center{
    text-align: center;
    /* text-overflow: ellipsis; */
    padding-top: 2%;
    /* width: 20px; */
}
.tc{
    color: rgb(27, 2, 2);
    width: 20px;
}
.submit{
    padding-top: 3px;
}
.example-container mat-form-field + mat-form-field {
    margin-left: 8px;
  }
  .green{
    color: green;
  }
  .container{
    justify-content: center;
    margin-bottom: 10px;
  }
  .full-width{
    width: 500px;
}
.error-message{
    color: red;
}