<app-nav-bar></app-nav-bar>
 
 <html>
 <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>   

<body class="container-fluid"> 

    <div class="content"> 
    <div class="row">

        <div class="col-md-2 p-0">
            <!-- <app-slide-bar></app-slide-bar> -->

        </div>

        <div class="col-md-10">

      

    <div class="single">

     
     <div class="width"> 
    <div class="box">
        <div class="row">  
            <div class="col-1 position-fixed">
 
            </div>
                 <div class="col-6">
                    <div class="img"> 
                         <img class="img-fluid" src="/assets/supergas.jpg" alt="">
                    </div>
                    
                    </div>
          <div class="col-6"> 
 
<br>
<br>
 
<h2> 
    We, the leading LPG suppliers in India, provide our beloved customers with energy that is easy to transport and store, 
    has many versatile uses, and has a positive environmental impact. <p> We're always innovating to make our customers' lives better.
     Over the years, we've expanded quickly to meet evolving needs and reach more customers. </p>

And obviously, clean and green energy is LPG!!! 

 A long-term vision supported by our shareholders. For our people, for our planet, and for our performance.
</h2>
          </div>
            </div>
            
        </div>
        <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

        <body class="container-fluid" >
            <div class="position-fixed end-0 bottom-0">
                <a href="https://facebook.com"><i class="fab fa-facebook"></i></a>&nbsp;&nbsp;
                <a href="https://instagram.com"><i class="fab fa-instagram"></i></a>&nbsp;&nbsp;
                <a href="https://twitter.com"><i class="fab fa-twitter"></i></a>
            </div>
            
            <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet">
        
              <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
             </body>
    </div>
</div>
</div>
    
</div>
</body>
 </html> -->
</div>
 
        
     
 
 